<div v-if="currentPage === '/whitelist/questions'">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Perguntas
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><i class="fa fa-list-ol"></i> Whitelist</li>
            <li class="active">Perguntas</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="alert"
            :class="{'alert-danger': pageWhitelistQuestions.lists.questions.error, 'alert-success': !pageWhitelistQuestions.lists.questions.error}"
            v-if="pageWhitelistQuestions.lists.questions.messages.length"
            v-html="pageWhitelistQuestions.lists.questions.messages.join('<br>')"></div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Perguntas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body"
                v-if="pageWhitelistQuestions.lists.questions.loading || (pageWhitelistQuestions.lists.questions.started && !pageWhitelistQuestions.lists.questions.loading && !pageWhitelistQuestions.lists.questions.data.length)">
                <div class="alert alert-info" v-if="pageWhitelistQuestions.lists.questions.loading">Carregando...</div>
                <div class="alert alert-warning"
                    v-if="pageWhitelistQuestions.lists.questions.started && !pageWhitelistQuestions.lists.questions.loading && !pageWhitelistQuestions.lists.questions.data.length">
                    Nenhuma
                    pergunta
                    cadastrada</div>
            </div>
            <div class="box-body table-responsive no-padding"
                v-if="pageWhitelistQuestions.lists.questions.started && !pageWhitelistQuestions.lists.questions.loading && pageWhitelistQuestions.lists.questions.data.length">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Pergunta</th>
                            <th>Tipo</th>
                            <th>Opções</th>
                        </tr>
                        <tr v-for="question in pageWhitelistQuestions.lists.questions.data">
                            <td>
                                {{ question.question_id }}
                            </td>
                            <td>
                                {{ question.description }}
                            </td>
                            <td>
                                <span v-if="question.type === 'text'">Texto</span>
                                <span v-if="question.type === 'options'">Opções</span>
                            </td>
                            <td>
                                <div v-if="question.type === 'text'">---</div>
                                <div v-if="question.type === 'options'">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr v-for="answer in question.answers"
                                                :class="{'text-success': answer.is_correct, 'text-danger': !answer.is_correct}">
                                                <td width="30">
                                                    [{{ answer.option }}]
                                                </td>
                                                <td>
                                                    {{ answer.description }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>


    </section>
</div>

<script>
    mixins.push({
        data: {

            pageWhitelistQuestions: {
                lists: {
                    questions: {
                        started: false,
                        loading: false,
                        error: false,
                        messages: [],
                        data: [],
                    },
                },
            },

        },
        methods: {

            getQuestions: function () {
                // var ajaxCb = (response) => {
                //     App.pageWhitelistQuestions.lists.questions.error = response.error;
                //     App.pageWhitelistQuestions.lists.questions.messages = response.messages;

                //     if (!response.error) {
                //         for (var i in response.content.questions) {
                //             App.pageWhitelistQuestions.lists.questions.data.push(response.content.questions[i]);
                //         }
                //     }

                //     App.pageWhitelistQuestions.lists.questions.loading = false;
                // };

                // App.clearPageList('whitelistQuestions', 'questions');
                // App.pageWhitelistQuestions.lists.questions.started = true;
                // App.pageWhitelistQuestions.lists.questions.loading = true;

                // axios.get(`${apiPath}/whitelist/questions`, {
                //     headers: {
                //         'x-access-token': token,
                //     },
                // })
                //     .then(function (response) {
                //         ajaxCb(response.data);
                //     })
                //     .catch(function (error) {
                //         ajaxCb(error.response.data);
                //     });
            },

        },
    });
</script>