.btn-matrix {
  color: #fff;
  background-color: #00BF00;
  border-color: #00BF00;
  outline: none;
}
.btn-matrix:focus,
.btn-matrix.focus,
.nav > li > .btn-matrix:focus,
.nav > li > .btn-matrix.focus {
  color: #fff;
  background-color: #008c00;
  border-color: #004000;
  outline: none;
}
.btn-matrix:hover,
.nav > li > .btn-matrix:hover {
  color: #fff;
  background-color: #008c00;
  border-color: #008200;
  outline: none;
}
.btn-matrix:active,
.btn-matrix.active,
.nav > li > .btn-matrix:active,
.nav > li > .btn-matrix.active,
.open > .dropdown-toggle.btn-matrix {
  color: #fff;
  background-color: #d18b04;
  border-color: #c78504;
  outline: none;
}
.btn-matrix:active:hover,
.btn-matrix.active:hover,
.nav > li > .btn-matrix:active:hover,
.nav > li > .btn-matrix.active:hover,
.open > .dropdown-toggle.btn-matrix:hover,
.btn-matrix:active:focus,
.btn-matrix.active:focus,
.nav > li > .btn-matrix:active:focus,
.nav > li > .btn-matrix.active:focus,
.open > .dropdown-toggle.btn-matrix:focus,
.btn-matrix:active.focus,
.btn-matrix.active.focus,
.nav > li > .btn-matrix:active.focus,
.nav > li > .btn-matrix.active.focus,
.open > .dropdown-toggle.btn-matrix.focus {
  color: #fff;
  background-color: #ae7404;
  border-color: #865903;
  outline: none;
}
.btn-matrix:active,
.btn-matrix.active,
.nav > li > .btn-matrix:active,
.nav > li > .btn-matrix.active,
.open > .dropdown-toggle.btn-matrix {
  background-image: none;
}
.btn-matrix.disabled:hover,
.btn-matrix[disabled]:hover,
.nav > li > .btn-matrix.disabled:hover,
.nav > li > .btn-matrix[disabled]:hover,
fieldset[disabled] .btn-matrix:hover,
.btn-matrix.disabled:focus,
.btn-matrix[disabled]:focus,
.nav > li > .btn-matrix.disabled:focus,
.nav > li > .btn-matrix[disabled]:focus,
fieldset[disabled] .btn-matrix:focus,
.btn-matrix.disabled.focus,
.btn-matrix[disabled].focus,
.nav > li > .btn-matrix.disabled.focus,
.nav > li > .btn-matrix[disabled].focus,
fieldset[disabled] .btn-matrix.focus {
  background-color: #00BF00;
  border-color: #00BF00;
}
.btn-matrix .badge {
  color: #00BF00;
  background-color: #fff;
}
