@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v14/XRXW3I6Li01BKofAnsSkZg.ttf) format('truetype');
}
.font-nunito {
  font-family: 'Nunito', sans-serif;
}
.color-logo-1 {
  color: #923CCF;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #36393F;
}
body::-webkit-scrollbar-thumb {
  background-color: #923CCF;
}
.btn {
  outline: none;
}
.pattern-1 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAL0lEQVQYV2M0s7T//+rlMwZGBghgVFBS/Q/j/IcJgGTExKUYwCoVlVRBEmAAYgAA/gQNnlK88bUAAAAASUVORK5CYII=');
}
.pattern-2 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAANUlEQVQYV2M0s7T/zwAFfPwCDIzmlvb/QSL8/AIMHz9+gAiAZD59/ABWx+ji4f8fxGGEagMAGjMQ6Haee2EAAAAASUVORK5CYII=');
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: #202225;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}
body.maintenance {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAANUlEQVQYV2M0s7T/zwAFfPwCDIzmlvb/QSL8/AIMHz9+gAiAZD59/ABWx+ji4f8fxGGEagMAGjMQ6Haee2EAAAAASUVORK5CYII=');
}
body.site {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAL0lEQVQYV2M0s7T//+rlMwZGBghgVFBS/Q/j/IcJgGTExKUYwCoVlVRBEmAAYgAA/gQNnlK88bUAAAAASUVORK5CYII=');
}
.maintenance .box-maintenance {
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
}
.maintenance .box-maintenance h1 {
  font-size: 14px;
}
.maintenance .box-maintenance h2 {
  font-size: 20px;
  font-weight: bold;
}
.maintenance .box-maintenance p {
  font-size: 14px;
}
.maintenance .box-maintenance a {
  color: #923CCF;
  text-decoration: underline;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 768px) {
  .maintenance .box-maintenance {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0;
    margin-top: -210px;
    margin-left: -300px;
    width: 600px;
    height: 420px;
  }
  .maintenance .box-maintenance h1 {
    font-size: 24px;
  }
  .maintenance .box-maintenance h2 {
    font-size: 48px;
  }
  .maintenance .box-maintenance p {
    font-size: 18px;
  }
}
.site header {
  background-color: #36393F;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAANUlEQVQYV2M0s7T/zwAFfPwCDIzmlvb/QSL8/AIMHz9+gAiAZD59/ABWx+ji4f8fxGGEagMAGjMQ6Haee2EAAAAASUVORK5CYII=');
}
.site header .logo {
  margin-top: 30px;
  margin-bottom: 30px;
}
.site .menu {
  background-color: #2F3136;
  border-top: 1px solid #202225;
}
.site .menu ul.nav-pills li a {
  outline: none;
  border-radius: 0;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  color: #fff;
}
.site .menu ul.nav-pills li a:hover,
.site .menu ul.nav-pills li a:focus {
  background-color: #36393F;
}
.site .menu ul.nav-pills li.active a {
  background-color: #923CCF;
}
.site .menu nav.navbar {
  background-color: transparent;
  border: 0;
  margin: 0;
}
.site .menu nav.navbar button.navbar-toggle {
  background-color: #36393F;
  border-color: #202225;
}
.site .menu nav.navbar div.navbar-collapse {
  border: 0;
}
.site .menu nav.navbar ul.navbar-nav li a {
  text-align: right;
  color: #fff;
}
.site .menu nav.navbar ul.navbar-nav li a:hover {
  background-color: #36393F;
}
.site .menu nav.navbar ul.navbar-nav li.active a {
  background-color: #923CCF;
}
.site .site-content {
  padding-top: 30px;
  box-shadow: inset 0 4px 6px -6px rgba(0, 0, 0, 0.6);
}
.site .site-content .panel-list {
  background-color: #36393F;
  border: 0;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.6);
}
.site .site-content .panel-list img {
  margin: auto;
}
.site .site-content .panel-list .panel-footer {
  background-color: #2F3136;
  border: 0;
}
.site .page {
  display: none;
}
.site .page.active {
  display: block;
}
.site .modal-content {
  background-color: #36393F;
}
.site .modal-content .modal-header {
  border-bottom: 1px solid #202225;
}
.site .modal-content .modal-body a {
  color: #923CCF;
}
.site .modal-content .modal-footer {
  border-top: 1px solid #202225;
}
.site .modal-content .close {
  color: #202225;
  text-shadow: none;
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.site blockquote {
  border-left: 5px solid #923CCF;
}
