<%- contentFor('body') %>
<div class="logo">
    <h1 class="page-header">Matrix - Dashboard</h1>
</div>

<div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" :src="user.avatarUrl"
                    :alt="(user.nick ? user.nick : user.username) + ' #' + user.discriminator" style="width: 64px;">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                {{ user.nick ? user.nick : user.username }} #{{ user.discriminator }}
            </h4>

            <div>
                <span v-for="role in user.roles" class="label label-default pull-left" :style="'background-color: #' + role.color.toString(16).padStart(6, '0') + '; margin-right: 8px; margin-bottom: 8px;'">
                    {{ role.name }}
                </span>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>


<%- contentFor('scripts') %>
<script>
    mixins.push({
        data: {
        },
    });
</script>