<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VLVYKGVQ7N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VLVYKGVQ7N');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://apis.google.com https://www.googletagmanager.com">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="author" content="Fow RJ Roleplay">
    <meta name="keywords" content="servidor,roleplay,rp,gta,rio de janeiro,rJ">
    <meta name="description" content="Servidor de Roleplay de GTA baseado na cidade do Rio de Janeiro">

    <title>Flow RJ Roleplay</title>

    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/buttons.css">
    <link rel="stylesheet" href="/assets/css/site.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
</head>

<body class="site">

    <div class="invite">
        Acesse nosso <a href="http://discord.gg/tzdhgprV2R" class="underline" target="_blank">Servidor do Discord</a>
    </div>

    <header>
        <div class="bg-animated"></div>

        <div class="container">
            <div class="logo">
                <img src="/assets/img/logo.png" alt="Flow RP" class="img-responsive"
                    style="width: 400px; margin: auto;">
            </div>
        </div>
    </header>

    <div class="site-content">
        <div class="container">

            <div class="alert alert-warning">
                Galerinha, iremos liberar mais itens aqui no site durante os próximos dias,
                então não perca os avisos que daremos em nosso <a href="http://discord.gg/tzdhgprV2R"
                    target="_blank">Servidor do Discord</a>
            </div>

        </div>
    </div>

    <footer>
        <p>
            <a href="http://discord.gg/tzdhgprV2R" class="underline" target="_blank">Flow RJ RP</a> - Todos os direitos
            reservados.
        </p>
        <p>
            Acesse nosso <a href="http://discord.gg/tzdhgprV2R" class="underline" target="_blank">Servidor do
                Discord</a>
        </p>
    </footer>

    <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDetailsLabel">Modal title</h4>
                </div>
                <div class="modal-body" id="modalDetailsBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark-3" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="loading">
        <img src="/assets/img/bg/loading-2.gif">
    </div>

    <script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/site.js"></script>
</body>

</html>