<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow RP</title>

    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/buttons.css">
    <link rel="stylesheet" href="/assets/css/site.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <img src="/assets/img/logo.png" alt="Flow RP" class="img-responsive"
                    style="width: 400px; margin: auto;">
            </div>
        </div>
    </header>

    <div class="menu">
        <div class="container">
            <ul class="nav nav-pills hidden-xs" style="width: 532px; margin: auto;">
                <li class="active"><a href="#">Planos VIPs</a></li>
                <li><a href="#">Veículos VIPs</a></li>
                <li><a href="#">Dinheiro</a></li>
                <li><a href="#">Armas</a></li>
                <li><a href="#">Remover Punições</a></li>
            </ul>

            <nav class="navbar navbar-default hidden-sm hidden-md hidden-lg">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#">Planos VIPs</a></li>
                            <li><a href="#">Veículos VIPs</a></li>
                            <li><a href="#">Dinheiro</a></li>
                            <li><a href="#">Armas</a></li>
                            <li><a href="#">Remover Punições</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="site-content">
        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="panel panel-list">
                        <div class="panel-body">
                            <img src="/assets/img/vips/bronze.png" class="img-responsive">

                            <p class="text-center">
                                VIP BRONZE
                            </p>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-dark-3 btn-block">Detalhes</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-purple btn-block">Eu quero</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="panel panel-list">
                        <div class="panel-body">
                            <img src="/assets/img/vips/bronze.png" class="img-responsive">

                            <p class="text-center">
                                VIP BRONZE
                            </p>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-dark-3 btn-block">Detalhes</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-purple btn-block">Eu quero</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="panel panel-list">
                        <div class="panel-body">
                            <img src="/assets/img/vips/bronze.png" class="img-responsive">

                            <p class="text-center">
                                VIP BRONZE
                            </p>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-dark-3 btn-block">Detalhes</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-purple btn-block">Eu quero</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="panel panel-list">
                        <div class="panel-body">
                            <img src="/assets/img/vips/bronze.png" class="img-responsive">

                            <p class="text-center">
                                VIP BRONZE
                            </p>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-dark-3 btn-block">Detalhes</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-purple btn-block">Eu quero</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="panel panel-list">
                        <div class="panel-body">
                            <img src="/assets/img/vips/bronze.png" class="img-responsive">

                            <p class="text-center">
                                VIP BRONZE
                            </p>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-dark-3 btn-block">Detalhes</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-purple btn-block">Eu quero</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="panel panel-list">
                        <div class="panel-body">
                            <img src="/assets/img/vips/bronze.png" class="img-responsive">

                            <p class="text-center">
                                VIP BRONZE
                            </p>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-dark-3 btn-block">Detalhes</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-purple btn-block">Eu quero</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>