<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow RJ Roleplay</title>

    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/buttons.css">
    <link rel="stylesheet" href="/assets/css/site.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="author" content="Fow RJ Roleplay" />
    <meta name="keywords" content="servidor,roleplay,rp,gta,rio de janeiro,rJ" />
    <meta name="description" content="Servidor de Roleplay de GTA baseado na cidade do Rio de Janeiro" />
</head>

<body class="site">

    <header>
        <div class="container">
            <div class="logo">
                <img src="/assets/img/logo.png" alt="Flow RP" class="img-responsive"
                    style="width: 400px; margin: auto;">
            </div>
        </div>
    </header>

    <div class="menu">
        <div class="container">
            <ul class="nav nav-pills hidden-xs" style="width: 532px; margin: auto;">
                <li class="active"><a href="#" class="btn-page" data-page="planos-vips">Planos VIPs</a></li>
                <li><a href="#" class="btn-page" data-page="veiculos-vips">Veículos VIPs</a></li>
                <li><a href="#" class="btn-page" data-page="dinheiro">Dinheiro</a></li>
                <li><a href="#" class="btn-page" data-page="armas">Armas</a></li>
                <li><a href="#" class="btn-page" data-page="remover-punicoes">Remover Punições</a></li>
            </ul>

            <nav class="navbar navbar-default hidden-sm hidden-md hidden-lg">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#" class="btn-page" data-page="planos-vips">Planos VIPs</a></li>
                            <li><a href="#" class="btn-page" data-page="veiculos-vips">Veículos VIPs</a></li>
                            <li><a href="#" class="btn-page" data-page="dinheiro">Dinheiro</a></li>
                            <li><a href="#" class="btn-page" data-page="armas">Armas</a></li>
                            <li><a href="#" class="btn-page" data-page="remover-punicoes">Remover Punições</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="site-content">
        <div class="container">


            <div class="page active" data-page="planos-vips">
                <div class="row"></div>
            </div>

            <div class="page" data-page="veiculos-vips">
                <div class="row"></div>
            </div>

            <div class="page" data-page="dinheiro">
                <div class="row"></div>
            </div>

            <div class="page" data-page="armas">
                <div class="row"></div>
            </div>

            <div class="page" data-page="remover-punicoes">
                <div class="row"></div>
            </div>

            <!--
            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="panel panel-list">
                        <div class="panel-body">
                            <img src="/assets/img/vips/bronze.png" class="img-responsive">

                            <p class="text-center">
                                VIP BRONZE
                            </p>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-dark-3 btn-block">Detalhes</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-purple btn-block">Eu quero</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            -->

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDetailsLabel">Modal title</h4>
                </div>
                <div class="modal-body" id="modalDetailsBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark-3" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/site.js"></script>
</body>

</html>