<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .container {
            width: 100%;
            height: 100%;
            animation: changeBackgroundColor 7s infinite;
            opacity: .7;
        }

        @keyframes changeBackgroundColor {
            0% {
                background-color: #202225;
            }

            50% {
                background-color: #923CCF;
            }

            100% {
                background-color: #202225;
            }
        }
    </style>
</head>

<body>
    <div class="container">TESTE</div>
</body>

</html>