<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow RJ Roleplay</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/site.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="author" content="Fow RJ Roleplay" />
    <meta name="keywords" content="servidor,roleplay,rp,gta,rio de janeiro,rJ" />
    <meta name="description" content="Servidor de Roleplay de GTA baseado na cidade do Rio de Janeiro" />
</head>

<body class="site">

    <% if (user) { %>
    <div class="box-user">
        <!-- <div class="container"> -->
            <div class="avatar">
                <img src="<%= user.avatarUrl %>" alt="<%= user.nick %>" class="img-responsive img-circle">
            </div>

            <!-- <div class="nick"><%= user.nick %></div> -->

            <div class="clearfix"></div>
        <!-- </div> -->
    </div>
    <% } %>

    <div class="invite">
        Acesse nosso <a href="http://discord.gg/tzdhgprV2R" class="underline" target="_blank">Servidor do Discord</a>
    </div>

    <header>
        <div class="bg-animated"></div>

        <div class="container">
            <div class="logo">
                <img src="/img/logo.png" alt="Flow RP" class="img-responsive"
                    style="width: 400px; margin: auto;">
            </div>
        </div>
    </header>

    <div class="menu">
        <div class="container">
            <ul class="nav nav-pills hidden-xs" style="width: 135px; margin: auto;">
                <li><a href="/">Voltar para o site</a></li>
            </ul>

            <nav class="navbar navbar-default hidden-sm hidden-md hidden-lg">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Voltar para o site</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="site-content">
        <div class="container">

            <h2 class="title-404">Página não encontrada!</h2>

        </div>
    </div>

    <footer>
        <a href="http://discord.gg/tzdhgprV2R" target="_blank">Flow RJ RP</a> - Todos os direitos reservados.
    </footer>

    <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDetailsLabel">Modal title</h4>
                </div>
                <div class="modal-body" id="modalDetailsBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark-3" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="loading">
        <img src="/img/bg/loading-2.gif">
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/site.js"></script>
</body>

</html>