<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Lista de usuários aqui!!!</p>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Usuários</a></li>
    <li><a href="/verify-whitelist">Verificar Whitelist</a></li>
    <li><a href="/auth/logout">Sair</a></li>
  </ul>
</body>

</html>