<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Você precisa fazer a whitelist em nosso servidor do Discord</p>

  <p><a href="/verify-whitelist">Verificar Whitelist</a></p>

</body>

</html>